@import 'tailwindcss';

@theme {
  --color-teal-800: #037a76;
  --color-teal-1000: #005350;

  --color-pink-400: #f44786;
  --color-pink-500: #ed1b76;

  --spacing-chat-content: 680px;
}

html,
body,
#root {
  @apply h-full min-h-screen;
}

.custom-scrollbar {
  /* Webkit browsers (Chrome, Safari, Edge) */
  scrollbar-width: var(--spacing);
  scrollbar-color: var(--color-pink-400);
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-1 h-1;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent mt-2.5 mb-2.5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-pink-400/70 rounded-2xl;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-pink-400);
}
